.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  padding-inline: 10vw 10vw;
}

.home--left {
  position: relative;
}

.home--post--form {
  display: flex;
  justify-content: center;
  margin-block: 0.5rem 2rem;
}

.form--pop--button {
  width: 43rem;
  height: 2.5rem;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid grey;
}
